body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Oxygen', sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-weight: bolder;
    color: tomato;
    line-height: 20px;
}

h2{
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    font-weight: 700; 
    line-height: 23px;
}

h3{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

h4{
    font-size: 20px;
    font-weight: 500;
    color: lightslategray;
}

p{
    font-size: 21px;
    font-weight: 80;
    line-height: 33px;
}

img{
    width: 100%;
    height: auto;
}

section{

}

.pashapashi-1{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 950px;
}

.pashapashi-2{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 950px;
}

.baam-side1{
    width: 40%;
    float: left;
    margin-left: 12%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 12%;
    padding-bottom: 5%;
}

.daan-side1{
    width: 32%;
    float: left;
    margin-left: 1%;
    margin-right: 8%;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 6%;
    padding-bottom: 8%;
}

.daan-side1 img{
    width: 100%;
}

.daan-side1 img:hover{
    width: 105%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.baam-side2 img:hover{
    width: 105%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.baam-side2{
    width: 27%;
    float: left;
    margin-left: 11%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 9%;
}
.daan-side2{
    width: 40%;
    float: left;
    margin-left: 1%;
    margin-right: 12%;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 8%;
    padding-bottom: 5%;
}

.baam-side2 img{
    width: 100%;
}

.kaaj{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}

.card{
    width: 28%;
    float: left;;
    margin-left: 3%;
    padding-left: 1%;
}

.card:hover{
    width: 29%;
    box-shadow: 5px 5px 12px lightgray;
}

.testimonial{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 750px;
}

.linked-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 166, 0), tomato);
    padding: 15px 35px;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.linked-button:hover{
    background-image: linear-gradient(tomato, rgb(223, 133, 16));
}

.center-title{
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
}

.contact{
    background-image: linear-gradient(rgb(20, 161, 67),rgb(10, 132, 136));
    background-size: 100%;
    padding: 35px 40px;
    border-radius: 30px;
}

.contact p{
    color: white;
}

.quote:hover{
    font-size: 25px;
}

.email:hover{
    font-size: 35px !important;
    font-weight: 900;
    line-height: 25px !important;
    color: rgb(229, 255, 82);
    text-shadow: 2px 2px 5px rgb(19, 19, 19);

}

footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}